[Desktop Entry]
Name=Plasma Drawer
Comment=A fullscreen customizable launcher with application directories and krunner-like search

Type=Service
Icon=start-here-kde

X-Plasma-API-Minimum-Version=6.0
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=Connor Popp
X-KDE-PluginInfo-Email=cmpopp2@gmail.com
X-KDE-PluginInfo-Name=p-connor.plasma-drawer
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=https://github.com/p-connor/plasma-drawer
X-KDE-PluginInfo-Category=Application Launchers

KPackageStructure=Plasma/Applet

Name[de]=Plasma Drawer
Name[ro]=Plasma Drawer
Name[ru]=Plasma Drawer
Name[uk]=Plasma Drawer
Comment[de]=Ein konfigurierbarer Fullscreen Launcher mit Anwendungsordnern und einer Krunner-artigen Suche
Comment[ro]=Un launcher pe tot ecranul customizabil cu aplcații, directoare și căutare care arată ca krunner
Comment[ru]=Полноэкранный настраиваемый лаунчер с директориями програм и поиском в стиле KRunner
Comment[uk]=Повноекранний налаштовуваний лаунчер з теками програм та пошуком у стилі KRunner
